# Get the ID, name, group and type from the graph data

In [5]:
import pandas as pd

In [13]:
%run Functions.ipynb

In [6]:
data = pd.read_csv('data_graph_matrix_2023.csv', index_col=0)

From the source nodes get the source ID, name and group

In [8]:
source = data.loc[:, ['source', 'name Source', 'group Source']]
source.drop_duplicates(subset=['source'], keep='first', inplace=True)
source=source.reset_index()
source=source.drop('index', axis=1)
source = source.rename(columns={'source':'ID', 'name Source':'name', 'group Source':'group'})

From the target nodes get the target ID, name and group

In [9]:
target = data.loc[:, ['target', 'name Target', 'group Target']]
target.drop_duplicates(subset=['target'], keep='first', inplace=True)
target=target.reset_index()
target=target.drop('index', axis=1)
target = target.rename(columns={'target':'ID', 'name Target':'name', 'group Target':'group'})

In [16]:
target[target['name'].duplicated()]

,ID,name,group
147,02e86cd9-9af4-40d8-9702-21c89264aa02,Manufacturers opportunity,98f5c5b6-ec04-4360-89ca-d39aab69c4a8
150,363eeb7c-b3f2-4d18-94de-2895a32d97bc,Manufacturers opportunity,98f5c5b6-ec04-4360-89ca-d39aab69c4a8
152,9a842abe-bcdd-40b6-9153-6c9be69ac7b1,Costs opportunity,98f5c5b6-ec04-4360-89ca-d39aab69c4a8

Combine the source and target dataframe

In [10]:
combined = pd.concat([source, target], ignore_index=True)

drop the duplicated ID

In [12]:
combined.drop_duplicates(subset=['ID'], keep='first', inplace=True)
combined=combined.reset_index()
combined=combined.drop('index', axis=1)

In [14]:
combined['type'] = 0

In [18]:
for i in range(len(combined)):
    type = lastWord(combined['name'].iloc[i])
    name = combined['name'].iloc[i]
    combined['type'].iloc[i] = type
    combined['name'].iloc[i] = name[:-len(lastWord(name))-1]

Save the dataframe

In [27]:
combined.to_csv('ID_name_group_type_2023.csv')